.movie-card {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: white;
    transition: transform 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.movie-card h2 {
    margin: 20px 0 10px;
    font-size: 18px;
    color: #333;
}

.movie-card p {
    margin: 0;
    font-size: 16px;
    color: #777;
}